<html>
<body>
<table border="1">
    <tr>
        <td>gdhdj</td>
        <td>hddj</td>
        <td>jdfkj</td>
        <td>jhdfk</td>
    </tr>
    <tr>
        <td rowspan="3"></td>
        <td>kfkjvh</td>
        <td>jweiwej</td>
        <td>hdjdh</td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td>fhfgth</td>
    </tr>
    <tr>
        <td>jdhfjfoj</td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="4">
            <table border="1">
                <tr>
                    <td>ddjjj</td>
                    <td>jfjfih</td>
                </tr>
                <tr>
                    <td>ifjeh</td>
                    <td>jkjehh</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>   


